<div class="widget">
    <h5 class="widgetheading" translate="contact-title"></h5>
    <address>
        <strong translate="7for70"></strong>
        <div translate="contact-address-1"></div>
        <div translate="contact-address-2"></div>
    </address>
    <p>
        <i class="fa fa-phone"></i><span translate="contact-phone"></span><br>
        <i class="fa fa-mobile"></i><span translate="contact-mobile"></span><br>
        <i class="fa fa-envelope"></i>
            <a ng-href="mailto:{{ 'contact-email' | translate }}">
                <span translate="contact-email"></span>
            </a>
        <br>
    </p>
</div>