<div class="block-heading-two">
    <h3>
        <span translate="sources-title"></span>
    </h3>
</div>
<div class="testimonials">
    <div class="active item">
        <blockquote>
            <p translate="sources-body"></p>
        </blockquote>
        <div class="carousel-info">
            <img alt="" src="img/Maimonides.jpg" class="pull-left">
            <div class="pull-left">
                <span class="testimonials-name" translate="sources-name"></span>
                <span class="testimonials-post" translate="sources-ref"></span>
            </div>
        </div>
    </div>
</div>