<div class="widget">
    <h5 class="widgetheading" translate="links-title"></h5>
    <ul class="link-list">
        <li>
            <a ng-href="{{ 'links-url-1' | translate }}" translate="links-title-1"></a>
        </li>
        <li>
            <a ng-href="{{ 'links-url-2' | translate }}" translate="links-title-2"></a>
        </li>
        <li>
            <a ng-href="{{ 'links-url-3' | translate }}" translate="links-title-3"></a>
        </li>
        <li>
            <a ng-href="{{ 'links-url-4' | translate }}" translate="links-title-4"></a>
        </li>
        <li>
            <a ng-href="{{ 'links-url-5' | translate }}" translate="links-title-5"></a>
        </li>
    </ul>
</div>