<header>
    <div class="navbar navbar-default navbar-fixed-top" style="top:45px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" ui-sref="app.home"><img src="img/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a ui-sref="app.home" translate="nav-link-1"></a>
                    </li>
                    <li class="dropdown">
                            <a href data-toggle="dropdown" class="dropdown-toggle">
                                <span translate="nav-link-2"></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="sub in $ctrl.length track by $index">
                                    <a ng-click="$ctrl.goTo($index + 1)">
                                        <span translate="sub-nav-link-{{ $index + 1 }}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href ng-click="$ctrl.scrollTo('rebbe')" translate="nav-link-3"></a>
                        </li>
                        <li>
                            <a href ng-click="$ctrl.scrollTo('about')" translate="nav-link-4"></a>
                        </li>
                        <li>
                        <a href ng-click="$ctrl.scrollTo('footer')" translate="nav-link-5"></a>
                    </li>
                    <li class="dropdown">
                        <a href data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-globe"></i>
                            <span translate="{{ $ctrl.lang }}"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="$ctrl.changeLanguage('en')">
                                    <span translate="en"></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="$ctrl.changeLanguage('ar')">
                                    <span translate="ar"></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="$ctrl.changeLanguage('he')">
                                    <span translate="he"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="donate">
                            <a href ui-sref="app.article({ number: 'donate' })" translate="nav-link-6"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<a href ng-click="$ctrl.scrollTo('top-bar')" class="scrollup">
    <i class="fa fa-angle-up active"></i>
</a>