<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter">
                    <h2 class="aligncenter" translate="laws-header-0"></h2>
                    <p translate="laws-body-0"></p>
                </div>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hand-pointer-o"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-1"></h3>
                    <p translate="laws-body-1"></p>
                    <a href ui-sref="article({number: 1})" translate="laws-body-button"></a>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-handshake-o"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-2"></h3>
                    <p translate="laws-body-2"></p>
                    <a href ui-sref="article({number: 2})" translate="laws-body-button"></a>                    
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-heartbeat"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-3"></h3>
                    <p translate="laws-body-3"></p>
                    <a href ui-sref="article({number: 3})" translate="laws-body-button"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-building-o"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-4"></h3>
                    <p translate="laws-body-4"></p>
                    <a href ui-sref="article({number: 4})" translate="laws-body-button"></a>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-diamond"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-5"></h3>
                    <p translate="laws-body-5"></p>
                    <a href ui-sref="article({number: 5})" translate="laws-body-button"></a>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-paw"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-6"></h3>
                    <p translate="laws-body-6"></p>
                    <a href ui-sref="article({number: 6})" translate="laws-body-button"></a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-balance-scale"></i>
                <div class="info-blocks-in">
                    <h3 translate="laws-header-7"></h3>
                    <p translate="laws-body-7"></p>
                    <a href ui-sref="article({number: 7})" translate="laws-body-button"></a>
                </div>
            </div>
        </div>
    </div>
</section>