<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 translate="rebbe-header"></h2>
                    <p translate="rebbe-sub"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-text">
                    <p translate="rebbe-body"></p>

                    <ul class="withArrow">
                        <li>
                            <span class="fa fa-angle-right"></span>
                            {{ 'rebbe-1' | translate }}
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            {{ 'rebbe-2' | translate }}
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            {{ 'rebbe-3' | translate }}
                        </li>
                        <li>
                            <span class="fa fa-angle-right"></span>
                            {{ 'rebbe-4' | translate }}
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary" translate="rebbe-button"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-image">
                    <img src="img/rebbe.png" alt="The Rebbe">
                </div>
            </div>
        </div>
    </div>
</section>