<ul class="social-network">
    <li>
        <a href="#" data-placement="top" title="{{ 'share-facebook' | translate }}">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="#" data-placement="top" title="{{ 'share-twitter' | translate }}">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li>
        <a href="#" data-placement="top" title="{{ 'share-linkedin' | translate }}">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="#" data-placement="top" title="{{ 'share-pinterest' | translate }}">
            <i class="fa fa-pinterest"></i>
        </a>
    </li>
    <li>
        <a href="#" data-placement="top" title="{{ 'share-gplus' | translate }}">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
</ul>